<message-pane>
    <div class="message-pane-container uk-panel uk-panel-box">
        <div class="chatbox-header">
            <nav class="uk-navbar">
                <ul class="uk-navbar-nav uk-margin-small-left">
                    <li>
                        <div class="{{chatbox-header--status: true, online: conv.is_online, offline: !conv.is_online}}">&nbsp;</div>
                    </li>
                    <li class="uk-navbar-content uk-text-truncate">
                        <span class="uk-text-bold" title="{{conv.title}}">{{conv.title}}</span>
                    </li>
                </ul>
                <div class="uk-navbar-flip">
                    <conversation-actions conv_id="{{opts.conv.id}}"></conversation-actions>
                </div>
            </nav>
        </div>
        <div class="message-pane-body">
            <div class="message-box" conv_id="{{opts.conv.id}}" riot-tag="message-box"></div>
        </div>
        <div class="message-pane-footer">
            <div>
                <div class="post-message-control" conv_id="{{opts.conv.id}}">
                    <!--<trix-editor class="trix-content trix-editor"/>-->
                </div>
                <div>
                    <div class="command-button-bar--right">
                        <span class="uk-button uk-button-mini uk-button-primary uk-float-right" type="button" style="border: 1px solid #555;" show="{{!isPressEnterToSend}}"
                            onclick="{{onSendButtonClick}}">Send</span>
                        <span class="{{command-button: true, uk-float-right: true, uk-margin-small-right: !isPressEnterToSend}}" onclick="{{togglePressEnterToSend}}">
                            Press Enter to send
                            <i class="{{uk-icon-square-o:!isPressEnterToSend, uk-icon-check-square-o: isPressEnterToSend}}"></i>
                        </span>
                    </div>
                    <action-toolbar name='action-toolbar' conv_id="{{opts.conv.id}}" item-size="small"></action-toolbar>
                </div>
            </div>
        </div>
    </div>
    
    <style scoped>
        .message-pane-container {
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            background-color: #ececec;
        }
        
        .chatbox-header {
            position: absolute;
            height: 44px;
            top: 0px;
            left: 0px;
            right: 0px;
        }
        
        .chatbox-header--avatar {
            position: absolute;
            left: 0px;
            width: 45px;
            top: 0px;
            text-align: center;
            z-index: 1;
            padding: 2px;
            display: flex;
        }
        
        .chatbox-header--avatar img {
            border-radius: 50%;
            max-width: 40px;
            max-height: 40px;
            margin-top: auto;
            margin-bottom: auto;
            border: 1px solid #aaa;
            width: 40px;
            height: 40px;
        }
        
        .chatbox-header--status {
            position: absolute;
            left: 36px;
            width: 12px;
            top: 13px;
            bottom: 0px;
            vertical-align: middle;
            text-align: center;
            display: flex;
            z-index: 1;
        }
        
        .chatbox-header--status div {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            margin-top: auto;
            margin-bottom: auto;
            border: 2px solid #fff;
        }
        
        .chatbox-header--status div.online {
            background-color: #88e241;
        }
        
        .chatbox-header--status div.offline {
            background-color: #ccc;
        }
        
        .chatbox-header--title {
            position: absolute;
            left: 55px;
            right: 30px;
            top: 0px;
            bottom: 0px;
            vertical-align: middle;
            font-weight: bold;
            padding-top: 6px;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 1;
            max-width: 300px;
            overflow: hidden;
            display: flex;
        }
        
        .chatbox-header--title span {}
        
        .chatbox-header--title a {
            text-decoration: none;
            cursor: pointer;
            color: #555;
            margin-top: auto;
            margin-bottom: auto;
        }
        
        .chatbox-header--title a:hover {
            text-decoration: underline;
        }
        
        .chatbox-header--close {
            position: absolute;
            right: 0px;
            width: 20px;
            top: 0px;
            bottom: 0px;
            display: flex;
            vertical-align: middle;
        }
        
        .chatbox-header--close a {
            color: #e3e9f5;
            margin-top: auto;
            margin-bottom: auto;
        }
        
        .chatbox-header--close a:hover {
            color: #fff;
        }
        
        .message-pane-body {
            position: absolute;
            top: 44px;
            bottom: 265px;
            left: 0px;
            right: 0px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #f6f7f8;
        }
        
        .message-pane-footer {
            position: absolute;
            top: auto;
            left: 0px;
            right: 0px;
            bottom: 0px;
            height: 250px;
            padding-bottom: 35px;
            padding: 8px;
            vertical-align: bottom;
        }
        
        .post-message-control {
            width: 100%;
            display: block;
            height: 160px;
            overflow: auto;
            background-color: #fff;
            border: 1px solid #aaa;
            position: static;
        }
        
        trix-editor {
            min-height: 100px;
            overflow: auto;
        }
        
        .message-box {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            border-bottom: 1px solid #e5e5e5;
            background-color: #fff;
            overflow: auto;
            padding: 20px;
        }
        
        .command-button {
            cursor: pointer;
        }
        
        .command-button-bar--right {
            float: right;
            margin-top: 10px;
            margin-right: 2px;
        }
        
        em {
            color: inherit !important;
        }
    </style>
</message-pane>