<group-panel>
    <div class="group-panel-container">
        <div class="group-panel-header">
            <create-new-group></create-new-group>
        </div>
        <div class="group-panel-body">
            <group-list-panel class="group-panel-item group-list-panel"></group-list-panel>
        </div>
    </div>

    <style scoped>
        .group-panel-container {
            position: absolute;
            top: 40px;
            bottom: 0px;
            left: 10px;
            width: 300px;
        }
        
        .group-panel-header {
            position: absolute;
            top: 0px;
            left: 10px;
            right: 0px;
            height: 30px;
        }
        
        .group-panel-body {
            position: absolute;
            top: 40px;
            bottom: 10px;
            left: 10px;
            right: 10px;
        }
        
        .group-panel-item {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    </style>
</group-panel>