<contact-panel>
    <div>
        <loading-indicator show="{{this.state.contactData.isFetching}}"></loading-indicator>
        <div contacts="{{this.visibleContacts}}" riot-tag="contact-list" class="contact-list"></div>
        <div riot-tag="contact-search" class="contact-search"></div>
    </div>

    <style scoped>
        :scope {
            width: 252px;
            background-color: #ececec;
            font: 400 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
            border: none;
            outline: none;
        }
        
        .contact-list {
            position: absolute;
            top: 0px;
            bottom: 30px;
            left: 0px;
            right: 0px;
            border: 1px solid #aaa;
        }
        
        .contact-search {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            border: 1px solid #aaa;
            border-top: 1px solid rgba(0, 0, 0, .10);
        }
    </style>
</contact-panel>